<div class="container">
  <div *ngIf="!ready()">Loading</div>

  <div *ngIf="ready()">
    <div class="row">
      <div class="col-3">
          <app-person [theme]="theme" [person]="person"></app-person>
          <button class="btn btn-secondary btn-sm tag-button" *ngFor="let tag of getTags()">
            {{ tag }}
          </button>
      </div>
      <div class="col-9 projects-wrapper">
          <app-projects [theme]="theme" [projects]="projects"></app-projects>
      </div>
    </div>
  </div>
</div>
