<div class="container">
  <div *ngIf="!ready()">Loading</div>

  <div *ngIf="ready()" [style.fontFamily]="theme.font.family">
    <div class="row">
      <div class="col-3">
        <app-person [theme]="theme" [person]="person"></app-person>
        <hr>
        <button [ngClass]="{'active': tag == filter }" class="btn btn-outline-info btn-sm tag-button" (click)="filterProjects(tag)" *ngFor="let tag of getTags()">
          {{ tag }}
        </button>
      </div>
      <div class="col-9 projects-wrapper">
        <app-projects [theme]="theme" [projects]="filteredProjects"></app-projects>
      </div>
    </div>
  </div>
</div>